body {
  background: url(resources/background-background-image-clear-sky-1054222.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.wrapper{
  height: 100%;
}

.nav-link {
  font-size: 20px;
  margin: 0 10px;
}

.bg-dark {
  opacity: 0.7;
}

.text-montserrat {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 15px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.transparent-item {
  background-color: rgba(0, 0, 0, 0.1);
}

.no-margin-padding {
  padding: 0 20px;
  margin: 0;
}

.link-transparent:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
}

.content-box {
  margin: 0 20px;
}

.text-white {
  opacity: 0.8;
}

.display-5 {
  font-size: 2em;
  line-height: 1.1em;
}

.display-6 {
  font-size: 1.6em;
  line-height: 1.2em;
}

.text-white {
  color: #eee;
}

.margin-50 {
  margin: 50px 0;
}

#home, #about-me, #portfolio {
  min-height: 100vh;
  margin: 50px 0;
}

#home{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 90, 237, 0.3) 100%);
}

#about-me {
  background: linear-gradient(to bottom, rgba(0, 90, 237, 0.3) 0%, rgba(146, 66, 244, 0.3) 100%);
}

#about-me a{
  text-decoration: underline;
}

#portfolio {
  background: linear-gradient(to bottom, rgba(146, 66, 244, 0.3) 0%, rgba(255, 255, 255, 0) 100% );
}

#portfolio i{
  zoom: 6;
  margin: 0px 0;
}
#contact {
  background: linear-gradient(to bottom, rgba(146, 66, 244, 0) 0%, rgba(0, 0, 0, 0.9) 100% );
  margin: 50px 0;
  min-height: 80vh;
}

#contact img{
  width: 100px;
  border-radius: 50%;
}

#contact table {
  width: 280px;
}

#contact i{
  color: white;
  opacity: 0.5;
  zoom:2;
}

#contact i:hover{
  opacity: 1;
  zoom: 2.2;
  transition-duration: 0.4s;
}

#contact input,#contact textarea {
  margin: 10px 0;
  opacity: 0.7;
}

#footer {
  margin: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 100% );
}

#footer p,#footer a {
  margin: 0 15px;
}

#footer a{
  text-decoration: underline;
}

#footer a:hover {
    opacity: 0.5;
}


@media only screen and (max-width: 600px) {
  body{
    background: url(resources/background-background-image-clear-sky-1054222.jpg) no-repeat fixed;
    -webkit-background-size: 1400px auto;
    -moz-background-size: 1400px auto;
    -o-background-size: 1400px auto;
    background-size: 1400px auto;
  }

  .wrapper{
    overflow: hidden;
  }

  .navbar {
    min-height: 100px;
  }

  .navbar-brand {
    text-align: center;
    letter-spacing: 1px;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    font-size: 35px;
  }

 #about-me p{
   font-size: 18px;
   text-align: left;
 }

 #portfolio h1{
   font-size: 42px;
 }

 #portfolio .card-header>a {
   font-size: 35px;
  }

}
